@charset "utf-8";
/* CSS Document */
*{
margin:0;
padding:0;
}
.container{
    
	 padding:10px;
	 margin:10px;
	 border:thin #00FFFF;
	 }
p{
     
	 padding:10px;
	 margin:10px;
	 background-color: lightgrey;
	 display:flex;
	 justify-content:center;
	 align-items:center;
	 flex-direction: row;
	 }
	.loader{
	  position:fixed;
	  top:0;
	  left:0;
	  background-color:lightgrey;
	  height:100%;
	  width:100%;
	  display:flex;
	  justify-content:center;
	  align-items:center;
	  }
	  .disapper{
	   animation:vanish 1s forwards;
	  }
	  @keyframes vanish{
	    100%{
		   opacity:0;
		   visibility:hidden;
		   
		}
	  }
	  
	  .header{
	       height:300px;
		   width:100%;
		   display:flex;
		   justify-content:spcae-between;
		   align-items:center;
		   }
		.img{
		 width:200px;
		 height:200px;
		 background-color:lightgrey;
		 border-radius:50%;
		 margin:25px;
		 display:flex;
		 justify-content:center;
		 align-items:center;
		
		}   
	
         .repo{
		   font-size:36px;
		   display:flex;
		   justify-content:center;
		   align-items:center;
		   background-color:lightblue;
		   }
		 
       h2{
	   padding:5px;
	   }
	   h5{
	   padding:5px;
	   }

